/* Setting background to an image */
body {
    background-image: url("trees-dark.jpg");
  }

/* Top line set formatting */ 
h2 {
  color: whitesmoke;
  text-align:center;
  font-family: segoe UI;
}
h2:hover {
  color: black;
} 

/* Top line set formatting */ 
h3 {
  color: whitesmoke;
  text-align:center;
  font-family: segoe UI;
}
h3:hover {
  color: black;
} 

/* Set up for the button that will return to the home page */
.button {
  background: black;
  border: none;
  color: white;
  font-family: segoe UI;
  padding: 16px;
  width: 200px;
  text-align: center;
  font-size: 100%;
  display: inline-block;
  margin: 4px;
  position:absolute;
  transition: .5s ease;
  left: 0px;
  top: 0px;
}